.header{
   background-color: cornflowerblue;
   text-align: center;
   font-weight: bold;
   font-size: 4em;
   box-shadow: 0 4px 6px rgba(0,0,0,0.2);
   color:white;
 margin-block: auto;
 padding: 25px 0px;
}